/* ==========================================================================
   MIXINS
   ========================================================================== */

%tab-focus {
  /* Default*/
  outline: thin dotted $focus-color;
  /* Webkit*/
  outline: 5px auto $focus-color;
  outline-offset: -2px;
}

/*
   em function
   ========================================================================== */

@function em($target, $context: $doc-font-size) {
  @return ($target / $context) * 1em;
}


/*
   Bourbon clearfix
   ========================================================================== */

/*
  * Provides an easy way to include a clearfix for containing floats.
  * link http://cssmojo.com/latest_new_clearfix_so_far/
  *
  * example scss - Usage
  *
  * .element {
  *   @include clearfix;
  * }
  *
  * example css - CSS Output
  *
  * .element::after {
  *   clear: both;
  *   content: "";
  *   display: table;
  * }
*/

@mixin clearfix {
  clear: both;

  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

/*
   Compass YIQ Color Contrast
   https://github.com/easy-designs/yiq-color-contrast
   ========================================================================== */

@function yiq-is-light(
  $color,
  $threshold: $yiq-contrasted-threshold
) {
  $red: red($color);
  $green: green($color);
  $blue: blue($color);

  $yiq: (($red*299)+($green*587)+($blue*114))/1000;

  @if $yiq-debug { @debug $yiq, $threshold; }

  @return if($yiq >= $threshold, true, false);
}

@function yiq-contrast-color(
  $color,
  $dark: $yiq-contrasted-dark-default,
  $light: $yiq-contrasted-light-default,
  $threshold: $yiq-contrasted-threshold
) {
  @return if(yiq-is-light($color, $threshold), $yiq-contrasted-dark-default, $yiq-contrasted-light-default);
}

@mixin yiq-contrasted(
  $background-color,
  $dark: $yiq-contrasted-dark-default,
  $light: $yiq-contrasted-light-default,
  $threshold: $yiq-contrasted-threshold
) {
  background-color: $background-color;
  color: yiq-contrast-color($background-color, $dark, $light, $threshold);
}

/*
   Minimal breakpoint mixin shim
   Replaces vendor breakpoint to avoid Sass import issues
   Supports:
   - breakpoint($min)
   - breakpoint($min, $max)
   - breakpoint($feature, $value) e.g. breakpoint('min-width', 768px)
   ========================================================================== */

@mixin breakpoint($args...) {
  $len: length($args);

  @if $len == 1 {
    $min: nth($args, 1);
    @media (min-width: $min) { @content; }
  }
  @else if $len == 2 {
    $a: nth($args, 1);
    $b: nth($args, 2);

    @if type-of($a) == 'number' and type-of($b) == 'number' {
      @media (min-width: $a) and (max-width: $b) { @content; }
    }
    @else if type-of($a) == 'string' {
      @media (#{$a}: #{$b}) { @content; }
    }
    @else {
      @media (min-width: $a) { @content; }
    }
  }
  @else {
    @content;
  }
}

/*
   Susy span() shim
   Supports: span(<columns> of <total>)
   Example: span(2.5 of 12) => 20.833333%
   ========================================================================== */

@function span($args...) {
  $len: length($args);

  // Case: span(2.5 of 12) comes in as 1 arg which is a list [2.5, of, 12]
  @if $len == 1 {
    $val: nth($args, 1);
    @if type-of($val) == 'list' and length($val) >= 3 and nth($val, 2) == of {
      $columns: nth($val, 1);
      $total: nth($val, 3);
      @return ($columns / $total) * 100%;
    }
  }

  // Case: span(2.5, of, 12)
  @if $len == 3 and nth($args, 2) == of {
    $columns: nth($args, 1);
    $total: nth($args, 3);
    @return ($columns / $total) * 100%;
  }

  @return null;
}